.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  text-align: center;
}

.header {
  background-color: #495E57;
  padding: 20px;
}

.nav {
  background-color: #EDEFEE;
  padding: 20px;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
}

.main {
  background-color: #495E57;
  padding: 20px;
}

.footer {
  background-color: #ccc;
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

h1, h2, h3 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
  line-height: 1.5;
}

span {
  font-weight: bold;
  color: blue;
}